@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 10px 7px rgba(0,0,0,0.3)
}

.App-header-center {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

.App-header-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  margin-top: 75px;
}

.App-header img {
  position: absolute;
  left: 100px;
  top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.subheader-caption {
  /* margin-top: 20px;
  margin-bottom: 10px; */
  margin: 20px 40px 10px;
  padding-bottom: 10px;
  font-weight: 700;
  /* border-bottom: 1px solid lightgrey; */
}

.active {
  fill: white;
}

.inactive {
  fill: grey;
}

.active:hover,
.inactive:hover {
  fill: lightgrey;
}

.loader {
  align-self: center;
  margin-left: 40%;
}

.movie-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  min-width: 350px;
  transition: 0.1s;
}

.movie-card:hover {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.movie-row {
  position: relative;
  width: 100%;
  /* justify-content: space-around; */
  border-bottom: 1px solid lightgrey;
  /* margin: 10px 0; */
  height: 120px;
  padding: 10px;
}

.movie-row:hover {
  cursor: pointer;
  background: rgba(220,220,220,0.3);
  transition: 0.2s;
}

.movie-row-content {
  display: flex;
  align-content: center;
  text-align: center;
}

.image-card {
  height: 370px;
}

.image-row {
  height: 100px;
  position: absolute;
  left: 100px;
}

.movies {
  margin: 0 8%;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  min-height: 80vh;
}

.movie-caption {
  border-top: 1px solid lightgrey;
  margin-top: 20px;
  padding-top: 10px;
}

.film-modal {
  width: 80%;
}

.crawl {
  margin-top: 20px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}

.welcome-inner {
  margin-top: 15%;
}
